.titreidx{
    text-align: center;
}

.q1r{
    border: 2px solid blue;;
  padding: 10px;
  border-radius: 280px 250px;
  margin-bottom: 10px;
  width:  406px;
  
}

body{
  font-family: Arial, Helvetica, sans-serif;
}