.titreidx{
    text-align: center;
}

.q1a{
    border: 2px solid blue;;
  padding: 10px;
  border-radius: 280px 250px;
}

.q1b{
    border: 2px solid blue;;
  padding: 10px;
  border-radius: 280px 250px;
}

.q1c{
    border: 2px solid blue;;
  padding: 10px;
  border-radius: 280px 250px;
}

.q1d{
    border: 2px solid blue;;
  padding: 10px;
  border-radius: 280px 250px;
}